body {
    background-color: #C5DAE1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

content {
    width: 75vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

img {
    cursor: pointer;
    margin: 2vw;
    max-width: 20vw;
    max-height: 20vw;
    opacity: 0.7;
    transition: all 500ms;
}

img:hover {
    max-width: 22vw;
    max-height: 22vw;
    opacity: 1;
    transition: all 500ms;
}